Practica2/obj/
Practica2/bin/
Practica2/*.save
Practica2/*.save.*
Practica2/doc/html/*
Practica3/obj/
Practica3/bin/
Practica3/*.save
Practica3/*.save.*
Practica3/doc/html/
Practica4/obj/
Practica4/bin/
Practica4/*.save
Practica4/*.save.*
Practica4/doc/html/
.vscode/*
